#container{
    width: 900px;
    margin: auto;
}
header{
    background-color:lightsalmon;
    height: 100px;
}

#slider{
    background-color: lightgreen;
    height: 250px;
}

#duyuru{
    background-color: lightblue;
}
#hizliErisim{
    background-color: lightpink;
}

footer{
    background-color: #181818;
    color: #FFF;
    height: 82px;
    font-size: 75%;
    text-align: left;
    line-height: 82px;


}